# Build generated
out
Starfish
Starfish-serviceworker
core
build/windows/StarFish/Debug
build/windows/StarFish/Release
build/windows/StarFish/StarFish/Release/
build/windows/StarFish/StarFishNativeConsoleShell/Release/
build/windows/StarFish/StarFishWindowsShell/obj/
*.pyc
*.class
cmake_install.cmake
CMakeCache.txt
CMakeFiles
build.ninja
rules.ninja
lightweight-web-engine.pc
lightweight-web-engine-dali-plugin.pc
lightweight-web-engine-serviceworker.pc

build/android/**/build/
build/android/**/jniLibs/
build/android/**/*.iml
build/android/**/local.properties

# Binding Generator generated
src/binding/generated

# Node releated
node_modules
test/tool/pixel_test/bin/nodejs

# Test suite generated
Demo.regression
tmp[0-9]*
*.png_
result.csv
result.xml
tool/reftest/cairo/internal_part*
tool/reftest/elf/internal_part*
error_report
tool/imgdiff/imgdiff

# Build tools generated
tags
cscope.files
cscope.out

# Etc
core # dump
!src/core
.*
autogen_*.html
third_party/libtuv/build/
third_party/libtuv/include/tuv__config.h
third_party/nanomsg/dist
out_coverage/
