# Build generated
out
StarFish
*.pyc
*.class

# Binding Generator generated
src/binding/*Binding.cpp
src/binding/Interfaces.h
!src/binding/*CustomBinding.cpp

# Node releated
node_modules
test/tool/pixel_test/bin/nodejs

# Test suite generated
Demo.regression
tmp[0-9]*
tool/reftest/internal.res
*.png_
result.csv
result.xml
tool/reftest/internal_part*
error_report

# Build tools generated
tags
cscope.files
cscope.out

# Etc
core # dump
!src/core
.*
