# Build generated
out
StarFish
*.pyc
*.class
cmake_install.cmake
CMakeCache.txt
CMakeFiles
build.ninja
rules.ninja

# Binding Generator generated
src/binding/*Binding.cpp
src/binding/*Union.h
src/binding/Interfaces.h
!src/binding/*CustomBinding.cpp
!src/binding/*CustomUnion.h

# Node releated
node_modules
test/tool/pixel_test/bin/nodejs

# Test suite generated
Demo.regression
tmp[0-9]*
*.png_
result.csv
result.xml
tool/reftest/cairo/internal_part*
tool/reftest/elf/internal_part*
error_report
tool/imgdiff/imgdiff

# Build tools generated
tags
cscope.files
cscope.out

# Etc
core # dump
!src/core
.*
autogen_*.html
third_party/libtuv/build/
third_party/libtuv/include/tuv__config.h
