[submodule "third_party/deviceapi"]
	path = third_party/deviceapi
	url = git@github.sec.samsung.net:RS7-webtf/tizen_device_api_loader.git
[submodule "binding_generator"]
	path = binding_generator
	url = git@github.sec.samsung.net:RS7-webtf/binding_generator.git
[submodule "third_party/escargot"]
	path = third_party/escargot
	url = git@github.sec.samsung.net:RS7-webtf/escargot.git
[submodule "test"]
	path = test
	url = git@github.sec.samsung.net:RS8-webtf-test/web_full_tc.git
[submodule "third_party/zeromq"]
	path = third_party/zeromq
	url = git@github.sec.samsung.net:RS8-webtf-sub/zeromq.git
[submodule "third_party/MP4Parse"]
	path = third_party/MP4Parse
	url = git@github.sec.samsung.net:RS8-webtf-sub/MP4Parse.git
[submodule "third_party/clipper"]
	path = third_party/clipper
	url = git@github.sec.samsung.net:RS8-webtf-sub/clipper.git
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = git@github.sec.samsung.net:RS8-webtf-sub/cppzmq.git
[submodule "third_party/rapidxml"]
	path = third_party/rapidxml
	url = git@github.sec.samsung.net:RS8-webtf-sub/rapidxml.git
[submodule "third_party/skia_matrix"]
	path = third_party/skia_matrix
	url = git@github.sec.samsung.net:RS8-webtf-sub/skia_matrix.git
[submodule "third_party/webm"]
	path = third_party/webm
	url = git@github.sec.samsung.net:RS8-webtf-sub/webm.git
[submodule "tool/gyp"]
	path = tool/gyp
	url = git@github.sec.samsung.net:RS8-webtf-misc/gyp.git
[submodule "third_party/libtuv"]
	path = third_party/libtuv
	url = https://github.com/Samsung/libtuv.git
[submodule "third_party/cairo"]
	path = third_party/cairo
	url = git@github.sec.samsung.net:RS8-webtf-sub/cairo.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = git@github.sec.samsung.net:RS8-webtf-sub/curl.git
[submodule "third_party/fontconfig"]
	path = third_party/fontconfig
	url = git@github.sec.samsung.net:RS8-webtf-sub/fontconfig.git
[submodule "third_party/freetype2"]
	path = third_party/freetype2
	url = git@github.sec.samsung.net:RS8-webtf-sub/freetype2.git
[submodule "third_party/giflib"]
	path = third_party/giflib
	url = git@github.sec.samsung.net:RS8-webtf-sub/giflib.git
[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = git@github.sec.samsung.net:RS8-webtf-sub/harfbuzz.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = git@github.sec.samsung.net:RS8-webtf-sub/libpng.git
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = git@github.sec.samsung.net:RS8-webtf-sub/libxml2.git
[submodule "third_party/libiconv"]
	path = third_party/libiconv
	url = git@github.sec.samsung.net:RS8-webtf-sub/libiconv.git
[submodule "third_party/pixman"]
	path = third_party/pixman
	url = git@github.sec.samsung.net:RS8-webtf-sub/pixman.git
[submodule "third_party/windows_pthread"]
	path = third_party/windows_pthread
	url = git@github.sec.samsung.net:RS8-webtf-sub/windows_pthread.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.sec.samsung.net:RS8-webtf-sub/zlib.git
[submodule "third_party/android/prebuilt_armv-7a_8.1.0"]
	path = third_party/android/prebuilt_armv-7a_8.1.0
	url = git@github.sec.samsung.net:RS8-webtf-sub/prebuilt_armv-7a_8.1.0.git
